body,
body * {
box-sizing: border-box;
margin: 0;
padding: 0;
}

body{
    background-color: #121213;
    font-family: sans-serif;
}
.container{
    display: inline-block;
    width: 1000px;
    color: white;
    margin-left: calc(50% - 500px);
}
.container:first-child{
    border-bottom: solid;
    border-color: gray;
    padding: 0.5em;
    border-width: 1px;
    font-size: 50px;
    /* text-align: center; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.link{
    color: #fff;
    text-decoration: none;
    line-height: 1em;
    width: 1.5em;
    text-align: center;
}
.drop-down-menu{
    margin-right: 4em;
}
.site-name{
    margin: 0;
    font-size: 100%;
    line-height: 1em;
    display: inline-block;
}

.menu-item{
    float: right;
    margin-right: 0.5em;
}
.menu-item:first-child{
    margin-right: 0;
}

main.container {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    gap: 20px;
}

.guess-block,
.keyboard-block{
    float: left;
    margin-left: 35%;
    width: 300px;
    text-align: center;
    user-select: none;
    display: flex;
    flex-direction: column;
    gap: 3px;
    align-items: center;
}
.row{
    display: flex;
    width: 100%;
    font-size: 24px;
    font-weight: bold;
    gap: 3px;
}
.column{
    float: left;
    width: 20%;
    background-color: #3A3A3C;
    padding: 0.7em 0;
}

.keyboard-block{
    width: 45%;
    margin-left: 27.5%;
}
.key-row{
    display: flex;
    gap: 3px;
}
.key{
    color: #fff;
    background-color: #3A3A3C;
    float: left;
    font-size: 20px;
    line-height: 1em;
    padding: 0.7em 0;
    width: 2em;
}
.key:hover{
    text-decoration: underline;
}
.long{
    width: 4em;
}
.yellow{
    background-color: #B59F3B;
}
.green{
    background-color: #538D4E;
}
.black{
    background-color: #1F1F21;
}
.gray{
    background-color: #818384;
}

@media (max-width: 1000px) {
    .container{
        display: inline-block;
        width: 100%;
        color: white;
        margin-left: 0;
    }
    .guess-block,
    .keyboard-block{
        margin-left: calc(50% - 150px);
        width: 300px;
    }
}

@media (max-width: 800px) {
    .container:first-child{
        font-size: 40px;
    }
}

@media (max-width: 650px) {
    .container:first-child{
        font-size: 30px;
    }
}

@media (max-width: 500px) {
    .menu-item{
        display: none;
    }
    .drop-down-menu{
        margin-right: 0;
    }
    .menu-item:first-child{
        display: inline-block;
    }
    .key{
        font-size: 18px;
    }
}

@media (max-width: 430px) {
    .key{
        font-size: 16px;
    }
}

@media (max-width: 380px) {
    .key{
        font-size: 14px;
    }
}