body{
    margin: 0;
    background-color: #121213;
    font-family: sans-serif;
}
.container{
    display: inline-block;
    width: 1000px;
    color: white;
    margin-left: calc(50% - 500px);
}
.container:first-child{
    border-bottom: solid;
    border-color: gray;
    border-width: 1px;
    font-size: 50px;
    text-align: center;
}
.link{
    color: #fff;
    text-decoration: none;
    line-height: 1em;
    width: 1.5em;
    text-align: center;
}
.drop-down-menu{
    float: left;
    margin-right: 4em;
    margin-left: 0.5em;
}
.site-name{
    margin: 0;
    font-size: 100%;
    line-height: 1em;
    display: inline-block;
}
.menu{
    float: right;
}
.menu-item{
    float: right;
    margin-right: 0.5em;
}
.drop-down-menu,
.site-name,
.menu{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.guess-block,
.keyboard-block{
    float: left;
    margin-left: 35%;
    width: 30%;
    text-align: center;
    margin-top: 40px;
}
.row{
    display: inline-block;
    width: 100%;
    font-size: 24px;
    font-weight: bold;
}
.column{
    float: left;
    width: 19%;
    margin-left: 1.25%;
    background-color: #3A3A3C;
    padding: 0.7em 0;
}
.column:first-child{
    margin-left: 0;
}

.keyboard-block{
    margin-top: 2%;
    width: 45%;
    margin-left: 27.5%;
}
.key-row{
    display: inline-block;
}
.key{
    color: #fff;
    background-color: #3A3A3C;
    float: left;
    font-size: 20px;
    line-height: 1em;
    padding: 0.7em 0;
    width: 2em;
}
.key:hover{
    text-decoration: underline;
}
.long{
    width: 4em;
}
.yellow{
    background-color: #B59F3B;
}
.green{
    background-color: #538D4E;
}
.black{
    background-color: #1F1F21;
}
.gray{
    background-color: #818384;
}