body{
    margin: 0;
    background-color: #121213;
    font-family: sans-serif;
}
header,
main{
    display: inline-block;
    width: 100%;
    color: white;
}
header{
    border-bottom: solid;
    border-color: gray;
    border-width: 1px;
    font-size: 50px;
    text-align: center;
}
a{
    color: #fff;
    text-decoration: none;
    line-height: 1em;
    width: 1.5em;
    text-align: center;
}
header > a:first-child{
    float: left;
    margin-right: 5em;
    margin-left: 0.5em;
}
h1{
    margin: 0;
    font-size: 100%;
    line-height: 1em;
    display: inline-block;
}
nav{
    float: right;
}
nav > a{
    float: right;
    margin-right: 1em;
}
nav > a:first-child{
    margin-right: 0.5em;
}
header > a:first-child,
h1,
nav{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
main > div{
    float: left;
    margin-left: 35%;
    width: 30%;
    text-align: center;
}
main > div:first-child{
    margin-top: 40px;
}
main > div:last-child{
    margin-top: 2%;
    width: 40%;
    margin-left: 30%;
}
main > div:first-child >div
{
    display: inline-block;
    width: 100%;
    font-size: 24px;
    font-weight: bold;
}
main > div:first-child > div > div
{
    float: left;
    width: 19%;
    margin-left: 1.25%;
    background-color: #3A3A3C;
    padding: 0.7em 0;
}
main > div:first-child > div > div:first-child
{
    margin-left: 0;
}
#yellow{
    background-color: #B59F3B;
}
#green{
    background-color: #538D4E;
}
#black{
    background-color: #1F1F21;
}
#gray{
    background-color: #818384;
}
main > div:last-child > div{
    display: inline-block;
    margin-bottom: 1%;
}
button{
    color: #fff;
    background-color: #3A3A3C;
    float: left;
    font-size: 20px;
    padding: 0.5em;
}
button:hover{
    text-decoration: underline;
}